﻿<link rel="stylesheet" type="text/css" href="http://37.75.251.12:3000/css/reg.css" />
<link rel="stylesheet" type="text/css" href="http://37.75.251.12:3000/css/animate-custom.css" />

    <div id="container_demo" >
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">
                <form> 
                    <h1>Войти</h1> 
                    <p> 
                        <label for="username" class="uname"> Ваш логин </label>
                        <input id="input-login" name="username" required="required" type="text" placeholder="my username"/>
                    </p>
                    <p> 
						<label for="password" class="youpasswd"> Ваш пароль </label>
						<input id="input-password" name="password" required="required" type="password" placeholder="password" /> 
                    </p>
                    <p class="login button"> 
                        <input id="login_b" type="button" value="Войти" /> 
					</p>
                    <p class="change_link">
						<a href="#toregister" class="to_register">Присоединиться к нам</a>
                        <a class="to_register" id="restore_pass"> Восстановить пароль </a>
					</p>
                </form>
            </div>

			<div id="register" class="animate form">
                <form> 
                    <h1> Регистрация </h1> 
					<p> 
                        <label for="input-nStudentCard" class="youNumberofStudent">Личный идентификатор </label>
                        <input id="input-nStudentCard" name="NumberofStudent" required="required" type="text" placeholder="**-***-****"/>
                    </p>
                    <p> 
                        <label for="input-login_r" class="uname">Ваш логин</label>
                        <input id="input-login_r" name="usernamesignup" required="required" type="text" placeholder="mysuperusername" />
                    </p>
                    <p> 
                        <label for="emailsignup" class="youmail"> Ваш email</label>
                        <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/> 
                    </p>
                    <p> 
                        <label for="input-password_r" class="youpasswd">Ваш пароль </label>
                        <input id="input-password_r" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
                    </p>
                                
                    <p class="signin button"> 
						<input id="reg" type="button" value="Регистрация"/> 
					</p>
                    <p class="change_link">  
						Вы уже зарегистрированы? 
						<a href="#tologin" class="to_register"> Тогда войдите </a>
					</p>
                </form>
            </div>

            <div id="restore" class="animate form">
                <form>
                    <h1> Восстановление пароля </h1>
                    <p>
                        <label for="emailrestore" class="youmail"> Ваш email</label>
                        <input id="emailrestore" name="emailrestore" required="required" type="email" placeholder="mysupermail@mail.com"/>
                    </p>
                    <p class="signin button">
                        <input id="restore_button" type="button" value="Восстановить"/>
                    </p>
                    <p class="change_link">
                        Вы уже зарегистрированы?
                        <a class="to_register" id="to_login_h"> Тогда войдите </a>
                    </p>
                </form>
            </div>
						
        </div>
    </div>