.calendar-wrapper table {background-color: #FFFFFF; color: #272829; font-family: Tahoma; border-collapse: collapse;}
.calendar-wrapper table tr.day td {font-size: 10.0px; font-weight: bold; background: #E9E9E9;}
.calendar-wrapper table tr#first-child td {width: 0; font-size: 11px; font-weight: bold;}
.calendar-wrapper table .lalign {text-align: left;}
.calendar-wrapper table .ralign {text-align: right;}
.calendar-wrapper table td {width: 25px; height: 20px; text-align: center; font-size: 15px; cursor: pointer;}
/* button control */
.calendar-wrapper table button {border: 1px solid #E9E5E5; background: #FFFFFF; color: #272829; font-family: Courier, monospace; padding: 0px 1px; height: 20px; cursor: pointer;}
.calendar-wrapper table tr.day td, .calendar-wrapper table tr.control td, .calendar-wrapper table button {border: none;}
.calendar-wrapper {position: absolute; z-index: 1; left: 8px; top: 200px; display: none; border: 1px solid #D8D8D8; -webkit-box-shadow: 0 0 10px #888; -moz-box-shadow: 0 0 10px  #888; box-shadow: 0 0 10px  #888;}

/* colors day */
.calendar-wrapper .Sunday {background: #FFDDDD;}
.calendar-wrapper .DefaultDay {background: #FFFFFF;}
.calendar-wrapper .CurrDay {background: #56d91a;}
.calendar-wrapper .Select {background: #0f71c8; color: #FFFFFF;}
.calendar-wrapper {
    z-index: 99999;
}