<% var data = JSON.parse(d);%>
<br>
<table class="table_dark">
    <tr>
        <th>Дата</th>
        <th>Итог</th>
    </tr>
    <% for(var i = 0; i < data.length; i++ ){ %>
        <tr>
            <td><%=data[i].date%></td>
            <td><% if (data[i].result == 1){ %><input class="a_check" id="<%=data[i].attendance_id%>" type="checkbox" name="first" onClick ='changeResultM("<%=data[i].attendance_id%>")' checked/>
                <% } else { %> <input class="a_check" id="<%=data[i].attendance_id%>" type="checkbox" name="first" onClick ='changeResultM("<%=data[i].attendance_id%>")' /> <% } %></td>
        </tr>
    <% } %>
</table>