<% var data = JSON.parse(d);%>
<br>
<table class="table_dark">
    <tr>
        <th>Дата</th>
        <th>Итог</th>
    </tr>
    <% for(var i = 0; i < data.length; i++ ){ %>
        <tr>
            <td><%=data[i].date%></td>
            <% if(data[i].result == 1){%>
                <td class="att_ok">Посетил</td>
            <% } else { %>
                <td class="att_no">Прогул</td>
            <% } %>
        </tr>
    <% } %>
</table>