<% var data = JSON.parse(d);%>
<ol class="rounded-list">
<% for(var i =0; i < data.length; i++ ){ %>
    <li><a onClick ='sendLesson(<%= data[i].lessons_id %>)' class="modis_a" ><%= data[i].discipline%></a></li>
<% } %>
</ol>