<% var data = JSON.parse(d);%>
<ol class="rounded-list">
<% for(var i =0; i < data.length; i++ ){ %>
    <li>
    <a><%= data[i].fio %>
        <% if (data[i].result == 1){ %><input class="a_check" id="<%=data[i].attendance_id%>" type="checkbox" name="first" onClick ='changeResult(this)' checked/>
        <% } else { %> <input class="a_check" id="<%=data[i].attendance_id%>" type="checkbox" name="first" onClick ='changeResult(this)' /> <% } %>
    </a>
    </li>
<% } %>
</ol>