<% var data = JSON.parse(d);%>
<ol class="rounded-list">
    <% for(var i =0; i < data.length; i++ ){ %>
    <li>
        <a style="text-align: left;" class="context-menu-five box menu-1" id="<%=data[i].id%>" class="modis_a" onclick='getGroupForCP("<%=data[i].id%>","<%= data[i].weight%>","<%= data[i].date%>","<%=data[i].description%>"); return false;'
                ><%= data[i].date%> | <%= data[i].description%></a>
        <div id="item<%=data[i].id%>"></div>
    </li>
    <% } %>
</ol>