<% var data = JSON.parse(d);%>
<div id="meta_div>">
    <%=data.date%>
    <input id="value_<%=data.progress_id%>" style="width: 70px;" type="text" size="4" onkeyup="return checkValueResult(this);" onchange="return checkValueResult(this);" value="<%=data.result%>" class="in"/>
    <input type="button" onclick="saveCpValue('<%=data.progress_id%>')" value="Сохранить">
</div>