<% var data = JSON.parse(d);%>
<h3 style="text-align: center;">Аттестационная ведомость №
<br>Дисциплина <%=data.discip_name%>
<br>Группа <%=data.group%>
<br>период от 1.9.2015 по <%=data.date%></h3>

<table style="border-collapse: collapse;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">№</th>
            <th style="border: 1px solid black;">ФИО</th>
            <th style="border: 1px solid black;">Набранно баллов</th>
            <th style="border: 1px solid black;">Посещено занятий</th>
            <th style="border: 1px solid black;">За посещаемость</th>
            <th style="border: 1px solid black;">Итого баллов</th>
            <th style="border: 1px solid black;">Итоговая оценка</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i< data.balls.length; i++){%>
            <% var temp = 0;%>
            <% var itog = 0;%>
            <% var summa = 0;%>
            <% var all = 0;%>
            <tr>
                <td style="border: 1px solid black;"><%=i+1%></td>
                <td style="border: 1px solid black;"><%=data.balls[i].name%></td>
                <td style="border: 1px solid black;text-align: center;"><%=data.balls[i].balls%>/<%=data.all_balls + 5%></td>
                <td style="border: 1px solid black;text-align: center;"><%=data.att[i].att%>/<%=data.all_att%></td>
                <%if(data.att[i].att == 0){ temp = 0;%>
                <% } else { %>
                    <% var percent = Math.round(data.att[i].att/data.all_att*100);%>
                    <%if(percent < 50){ temp = 0;}%>
                    <%if(percent >= 50 && percent < 59 ){ temp = 1;}%>
                    <%if(percent >= 60 && percent < 69 ){ temp = 2;}%>
                    <%if(percent >= 70 && percent < 79 ){ temp = 3;}%>
                    <%if(percent >= 80 && percent < 89 ){ temp = 4;}%>
                    <%if(percent >= 90 ){ temp = 5;}%>
                <% };%>
                <td style="border: 1px solid black;text-align: center;"><%=temp%></td>
                <% all = temp + data.balls[i].balls; %>
                <% summa = Math.round((temp + data.balls[i].balls)/(data.all_balls + 5)*100);%>
                <td style="border: 1px solid black;text-align: center;"><%=all%></td>
                    <%if(summa < 60){ itog = 2;}%>
                    <%if(summa >= 60 && summa < 74 ){ itog = 3;}%>
                    <%if(summa >= 74 && summa < 86 ){ itog = 4;}%>
                    <%if(summa >= 86){ itog = 5;}%>
                <td style="border: 1px solid black;text-align: center;"><%=itog%></td>
            </tr>
        <%}%>
    </tbody>
</table>
<h3 style="text-align: right;">Преподаватель <%=data.name%></h3>