<% var data = JSON.parse(d);%>
<ol class="rounded-list">
    <% for(var i =0; i < data.length; i++ ){ %>
    <li>
        <a id="<%=i+1%>" onclick='openStudentDiscipline(<%=data[i].discipline_id%>); return false;' class="modis_a" ><%= data[i].name%></a>

        <div id="item<%=data[0].user_login%>_<%=data[i].discipline_id%>"></div>
    </li>
    <% } %>
</ol>