<% var data = JSON.parse(d);%>
<div id="description-block">
    <div class="plan">
        <% var percent = Math.round(data.itog/data.all_l*100);%>
        <% if (percent !== percent){percent = 0;}%>
        <h3>Посещаемость<span><%=percent%>%</span></h3>
        <% if (data.itog > 0){%>
            <span class="signup"onclick="disciplineAttendanceDetails('<%=data.user_id%>','<%=data.discipline%>');" >Подробнее</span>
        <% } %>
        <ul>
            <li>Вего пар: <b><%=data.all_l%></b></li>
            <li>Посещено: <b><%=data.itog%></b></li>
        </ul>
    </div >
    <div class="plan">
        <% if (data.discip_itog == 1){%>
            <h3>Успеваемость<span><%=data.ball%>%</span></h3>
			<% if (data.ball == undefined){data.ball = 0;}%>
            <% if (data.ball > 0){%>
                <span class="signup"onclick="disciplineProgressDetails('<%=data.user_id%>','<%=data.discipline%>');" >Подробнее</span>
            <% } %>
            <ul>
                <li>Баллов набрано: <b><%=data.ball%>/60</b></li>
                <li>Экзамен: <b>0/40</b></li>
            </ul>
        <% } else { %>
            <h3>Успеваемость<span><%=data.ball%>%</span></h3>
            <% if (data.ball > 0){%>
                <span class="signup"onclick="disciplineProgressDetails('<%=data.user_id%>','<%=data.discipline%>');" >Подробнее</span>
            <% } %>
            <ul>
                <li>Баллов набрано: <b><%=data.ball%>/80</b></li>
                <li>Зачет: <b>0/20</b></li>
            </ul>
        <% } %>
    </div >
</div>