﻿<div id="container">
    Ввод информации о пользователе
    <p>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" placeholder="e-mail">
    </p>
    <p class="login-submit">
        <button id = "b_save" type="button" class="login-button">Сохранить</button>
    </p>
</div>