<% var data = JSON.parse(d);%>
<ol class="rounded-list">
    <% for(var i = 0; i < data.length; i++ ){ %>
    <li><a class="context-menu-one box menu-1"><%= data[i].meta_value%></a></li>
    <% } %>
</ol>