<% var data = JSON.parse(d);%>
<ol class="rounded-list">
    <% for(var i = 0; i < data.length; i++ ){ %>
    <li><a class="context-menu-three box menu-1" onclick='moveStudentIntoGroup(<%=data[i].group_id%>,"<%= data[i].group_name%>");'><%= data[i].group_name%></a></li>
    <% } %>
</ol>