<% var data = JSON.parse(d);%>
<ol class="rounded-list2">
    <% for(var i = 0; i < data.length; i++ ){ %>
        <li><a class="context-menu-six box menu-1" onclick='listStudentsInGroupPrepod(<%=data[i].group_id%>);'><%= data[i].group_name%></a></li>
    <% } %>
</ol>