<% var data = JSON.parse(d);%>
<div class="tabs" style="margin-left: 0px;">
    <!— Вкладки для преподавателя —>
    <input id="tab2" class="tabs_input" type="radio" name="tabs" checked>
    <label for="tab2" title="HTML5">Моё расписание</label>

    <input id="tab3" class="tabs_input" type="radio" name="tabs">
    <label for="tab3" title="Windows" onclick="createTable()" >Ввод успеваемости</label>

    <!— Содержимое вкладок —>
    <section id="content3">
        <span><h5>Ввод успеваемости</h5></span>
        <div class="dropdown">
            <ol class="rectangle-list">
                <% for(var i =0; i < data.discip.length; i++ ){ %>
                <li><a class="context-menu-four box menu-1" onclick='getDiscipCP("<%=data.discip[i].discipline_id%>","<%=data.discip[i].semester%>"); return false;'><%=data.discip[i].discipline%>|Семестр-<%=data.discip[i].semester%></a>
                    <div id="item_s<%=data.discip[i].discipline_id%>_<%=data.discip[i].semester%>"></div>
                </li>
                <% } %>
            </ol>
        </div>
        <div class="group" id="group_list"></div>
        <span><h5></h5></span>
    </section>
    <section id="content2">
        <span><h5><%=data.fio%><br>Моё расписание</h5></span>
        <table>
            <thead>
            <tr>
                <td>№</td>
                <td>Понедельник</td>
                <td>Вторник</td>
                <td>Среда</td>
                <td>Четверг</td>
                <td>Пятница</td>
                <td>Суббота</td>
            </tr>
            </thead>
            <tbody>
            <% var temp = 0;%>
            <% var flag = true;%>
            <%for(var i =1; i < 6; i++ ){ %>

            <tr>
                <td><%=i%></td>
                <% for(var j =1; j < 7; j++ ){ %>
                <% flag = true;%>
                <td>
                    <% while(flag){ %>
                    <%if(temp == data.schedule.length ){break;}%>
                    <%if(data.schedule[temp].lec_number == i && data.schedule[temp].weekday == j){%>
                    <%=data.schedule[temp].group_name%>
                    <% temp++; %>
                    <% }else {%>
                    <% flag = false;%>
                    <% } %>
                    <% } %>
                </td>
                <% } %>
            </tr>
            <% } %>
            </tbody>

        </table>
        <span><h5></h5></span>
    </section>
</div>
<%*%>