<% var data = JSON.parse(d);%>
    <div class="tabs" style="margin-left: 0px;">
    <!-- Вкладки для старосты -->
    <input id="tab1" class="tabs_input" type="radio" name="tabs">
    <label for="tab1" title="Мой профиль" >Мой профиль</label>

    <input id="tab2" class="tabs_input" type="radio" name="tabs">
    <label for="tab2" title="input_attendance" onclick="createTable()">Ввод посещаемости</label>

    <input id="tab3" class="tabs_input" type="radio" name="tabs">
    <label for="tab3" title="description" >Данные по предметам</label>

    <input id="tab4" class="tabs_input" type="radio" name="tabs" checked>
    <label for="tab4" title="shedule">Расписание</label>

    <input id="tab6" class="tabs_input" type="radio" name="tabs">
    <label for="tab6" title="best_group" >Лучшие в группе</label>

    <input id="tab5" class="tabs_input" type="radio" name="tabs">
    <label for="tab5" title="best" >Лучшие 50</label>

    <!-- Содержимое вкладок -->
    <section id="content1">
        <span><h5>Профиль</h5></span>
        <table class="bordered">
            <tr>
                <td><b>Статус</b></td>
                <td><%= data.term_description %></td>
            </tr>
            <tr>
                <td><b>ФИО</b></td>
                <td><%= data.fio %></td>
            </tr>
            <tr>
                <td><b>Группа</b></td>
                <td><%= data.faсulty_short_name%>-<%= data.group_name%>(<%= data.specialty_name%>)</td>
            </tr>
            <tr>
                <td><b>Позиция в общем рейтинге</b></td>
                <td>-</td>
            </tr>
            <tr>
                <td><b>Позиция в групповом рейтинге</b></td>
                <td>-</td>
            </tr>
        </table>
        <span><h5></h5></span>
    </section>
    <section id="content2">
        <span><h5>Ввод посещаемости</h5></span>
        Выберите дату:
        <input type="text" id="date_modis" name="date" readonly="readonly" size="10" onclick="showcalendar(this,true)"/>
        <div id="modis-content"></div>
        <span><h5></h5></span>
    </section>
    <section id="content3">
        <span><h5>Мои дисциплины</h5></span>
        <ol class="rounded-list">
            <% for(var i =0; i < data.disipline.length; i++ ){ %>
            <li>
                <a id="<%=i+1%>" onclick='openDiscipline(<%=data.disipline[i].discipline_id%>); return false;' class="modis_a" ><%= data.disipline[i].name%></a>

                <div  id="item<%=data.disipline[i].discipline_id%>"></div>
            </li>
            <% } %>
        </ol>
        <span><h5></h5></span>
    </section>
    <section id="content4">
        <span><h5>Моё расписание</h5></span>
        <table>
            <thead>
            <tr>
                <td>Понедельник</td>
                <td>Вторник</td>
                <td>Среда</td>
                <td>Четверг</td>
                <td>Пятница</td>
                <td>Суббота</td>
            </tr>
            </thead>
            <tbody>
            <% var temp = 0;%>
            <%for(var i =1; i < 10; i++ ){ %>
            <tr>
                <% for(var j =1; j < 7; j++ ){ %>
                <%if(temp == data.schedule.length ){break;}%>
                <%if(data.schedule[temp].lec_number == i && data.schedule[temp].weekday == j){%>
                <td><%=data.schedule[temp].name%></td>
                <% temp++; %>
                <% }else {%>
                <td></td>
                <% } %>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
        <span><h5></h5></span>
    </section>
    <section id="content5">
        <span><h5>Лучшие студенты факультета</h5></span>
        <table>
            <thead>
            <tr>
                <td>№</td>
                <td>ФИО</td>
                <td>Сумма набранных баллов</td>
            </tr>
            </thead>
            <tbody>
            <%for(var i = 0; i < data.best.length; i++ ){ %>
            <tr>
                <td><%=i+1%></td>
                <td><%=data.best[i].name%></td>
                <td><%=data.best[i].balls%></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <span><h5></h5></span>
    </section>
    <section id="content6">
        <span><h5>Лучшие в группе</h5></span>
        <table>
            <thead>
            <tr>
                <td>№</td>
                <td>ФИО</td>
                <td>Сумма набранных баллов</td>
            </tr>
            </thead>
            <tbody>
            <%for(var i = 0; i < data.best_group.length; i++ ){ %>
            <tr>
                <td><%=i+1%></td>
                <td><%=data.best_group[i].name%></td>
                <td><%=data.best_group[i].balls%></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <span><h5></h5></span>
    </section>
</div>
<%*%>