<% var data = JSON.parse(d);%>
<div class="tabs" style="margin-left: 0px;">
    <!-- Вкладки для методиста -->
    <input id="tab2" class="tabs_input" type="radio" name="tabs" checked>
    <label for="tab2" title="Списки групп">Списки групп</label>

    <input id="tab4" class="tabs_input" type="radio" name="tabs">
    <label for="tab4" title="Рейтинг">Рейтинг</label>

    <input id="tab3" class="tabs_input" type="radio" name="tabs">
    <label for="tab3" title="Поиск">Поиск</label>

    <!-- Содержимое вкладок -->
    <section id="content2">
        <h5>Выберите специальность и группу</h5>
        <div class="metod">
            <div class="dropdown">
                <!-- Link or button to toggle dropdown -->
                <ol class="rectangle-list">
                    <% for(var i =0; i < data.specialty.length; i++ ){ %>
                    <li><a class="context-menu-two box menu-1" onclick='openSpecialty(<%=data.specialty[i].specialty_id%>); return false;'><%=data.specialty[i].specialty_name%></a>
                        <div  id="item_s<%=data.specialty[i].specialty_id%>"></div>
                    </li>
                    <% } %>
                </ol>
            </div>
            <div class="group" id="group_list"></div>
        </div>
        <span><h5></h5></span>
    </section>
    <section id="content3">
        <span><h5>Поисковой запрос</h5></span>
        <input type="text" id="find_modis" size="20" placeholder="Введите запрос" onkeyup="find(this.value);"/>
        <div id ="findSet"></div>
        <span><h5></h5></span>
    </section>
    <section id="content4">
                    <span><h5>Выберите тип формируемого рейтинга:<br>
                        <input type="radio" name="browser" value="all" checked>Сводный рейтинг
                        <input type="radio" name="browser" value="discip">По дисциплинам
                        <input type="radio" name="browser" value="prepod">По преподавателям</h5></span>
        <div id="metod_raiting">
            <table>
                <thead>
                <tr>
                    <td>Группа</td>
                    <td>Всего пар у всех студентов</td>
                    <td>Посещено пар студентами</td>
                    <td>Процент посещаемости</td>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < data.group_raiting.length ; i++ ){ %>
                <tr>
                    <td>ЭиП-<%=data.group_raiting[i].group_name%></td>
                    <td><%=data.group_raiting[i].all%></td>
                    <td><%=data.group_raiting[i].att%></td>
                    <td><%=data.group_raiting[i].percent%>%</td>
                </tr>
                <%}%>
                </tbody>
            </table>
        </div>
        <span><h5></h5></span>
    </section>
</div>
<%*%>