<% var data = JSON.parse(d);%>
<ol class="rectangle-list">
<% for(var i = 0; i < data.length; i++ ){ %>
    <% if(data[i].term == 3) {%>
    <li id="<%= data[i].ID %>" class="student-list">
        <a onClick ='moreForStudent("<%= data[i].ID %>"); return false;' class="context-menu-one box menu-1" style="background: #5FADEA"><%= data[i].name%></a></li>
    <%} else {%>
        <li id="<%= data[i].ID %>" class="student-list">
            <a onClick ='moreForStudent("<%= data[i].ID %>"); return false;' class="context-menu-one box menu-1"><%= data[i].name%></a></li>
    <%}%>
<div id="item_sd<%=data[i].ID%>"></div>
<% } %>
</ol>