<% var data = JSON.parse(d);%>
<ol class="rectangle-list1" style="width: 650px;">
<% for(var i = 0; i < data.length; i++ ){ %>
	<% var percent = Math.round( data[i].result / data[i].weight * 100);%>
    <li id="<%= data[i].ID %>" class="student-list">
        <a>
			<ul class="hr right">
				<li><%= data[i].name%></li>
				<% if (percent == 0) { %>
					<li><input id="value_<%=data[i].progress_id%>" type="text" size="4" onkeyup="return checkValueResult(this);" onchange="return checkValueResult(this);" value="<%=data[i].result%>" class="in"/></li>
				<% } else if(percent >= 86) { %>
				<li><input style="background-color: #33ff1b" id="value_<%=data[i].progress_id%>" type="text" size="4" onkeyup="return checkValueResult(this);" onchange="return checkValueResult(this);" value="<%=data[i].result%>" class="in"/></li>
				<% } else if(percent >= 74 && percent < 86) { %>
				<li><input style="background-color: #dfff52" id="value_<%=data[i].progress_id%>" type="text" size="4" onkeyup="return checkValueResult(this);" onchange="return checkValueResult(this);" value="<%=data[i].result%>" class="in"/></li>
				<% } else if(percent >= 60 && percent < 74) { %>
				<li><input style="background-color: #ff971b" id="value_<%=data[i].progress_id%>" type="text" size="4" onkeyup="return checkValueResult(this);" onchange="return checkValueResult(this);" value="<%=data[i].result%>" class="in"/></li>
				<% } else if(percent < 60) { %>
				<li><input style="background-color: #ff2b1f" id="value_<%=data[i].progress_id%>" type="text" size="4" onkeyup="return checkValueResult(this);" onchange="return checkValueResult(this);" value="<%=data[i].result%>" class="in"/></li>
				<% } %>
				<li><input style="width: 80px;" type="button" onclick="saveCpValue('<%=data[i].progress_id%>')" value="Сохранить"></li>
			</ul>
		</a>		
    </li>
<% } %>
</ol>