<% var data = JSON.parse(d);%>
Выберите дату:
<input type="text" id="date_modis" name="date" readonly="readonly" value="<%=data.date%>" size="10" onclick="showcalendar(this,false)"/><p/>
<div id="modis-content"></div>
Введите вес: <input id="weight" type="text" size="4" value="<%=data.weight%>" /><p/>
<input id="description-kp" type="text" placeholder="Описание" value="<%=data.description%>"/><p/>
<p class="login-submit">
    <button id = "b_add" type="submit" class="login-button" onclick="edit_cp('<%=data.id%>')">Сохранить</button>
</p>