<% var data = JSON.parse(d);%>
Добавить контрольную точку для дисциплины - <a id="discip-name"><%=data.discip_name%></a><br>
Семестр - <a id="semester_kp"><%=data.semester%></a><p/>
Выберите дату:
<input type="text" id="date_modis_add_cp" name="date" readonly="readonly" size="10" onclick="showcalendar(this,false)"/><p/>
<div id="modis-content"></div>
Введите вес (Лимит - <%=data.max%>)<input id="weight" type="text" size="4" onkeyup="return checkValue(this,<%=data.max%>);" onchange="return checkValue(this,<%=data.max%>);" /><p/>
<input id="description-kp" type="text" placeholder="Описание"/><p/>
<p class="login-submit">
    <button id = "b_add" type="submit" class="login-button" onclick="add_new_cp()">Добавить</button>
</p>