<div id="container">
        <% var data = JSON.parse(d);%>
        <% if(data.term_group == 1){%>
            <%! layout_students %>
        <%};%>
        <% if(data.term_group == 3){%>
            <%! layout_steward %>
        <%};%>
		<% if(data.term_group == 4){%>
            <%! layout_prepod %>
		<%};%>
        <% if(data.term_group == 5){%>
            <%! layout_metod %>
        <%};%>
    <div id="openModal" class="modalDialog">
        <div>
            <a href="#close" title="Закрыть" class="close">X</a>
            <div id="openModalContent"></div>
        </div>
    </div>
    <p class="login-submit">
        <button id = "b_exit" type="submit" class="login-button">Выход</button>
    </p>
	<p class="change_link"></p>
</div>