<% var data = JSON.parse(d);%>
<ol class="rectangle-list" style="width: 450px;">
    <% for(var i = 0; i < data.length; i++ ){ %>
        <li><a onclick="sendLessonPr('<%=data[i].lessons_id%>')"><%= data[i].date%></a></li>
        <div id="item_sd<%=data[i].lessons_id%>"></div>
    <% } %>
</ol>