<% var data = JSON.parse(d);%>
<br>
<table class="table_dark">
    <tr>
        <th>Дата</th>
        <th>Описание</th>
        <th>Итог</th>
    </tr>
    <% for(var i = 0; i < data.length; i++ ){ %>
    <tr>
        <td> <%=data[i].date%> </td>
        <td> <%=data[i].description%> </td>
        <td> <%=data[i].result%> </td>
    </tr>
    <% } %>
</table>