<% var data = JSON.parse(d);%>
<div class="dropdown_move">
    Перемещение студента <a id ="student_move_name"><%=data[0].student_name%></a> в другую группу.
    <!-- Link or button to toggle dropdown -->
    <ol class="rectangle-list">
        <% for(var i =0; i < data.length; i++ ){ %>
        <li><a class="context-menu-two box menu-1" onclick='openSpecialtyMove(<%=data[i].specialty_id%>); return false;'><%=data[i].specialty_name%></a>
            <div id="item_move<%=data[i].specialty_id%>"></div>
        </li>
        <% } %>
    </ol>
</div>
<div class="group" id="group_list_move"></div>