<% var data = JSON.parse(d);%>
<span id="meta_value_count" style="display: none"><%=data.length%></span>
Карточка студента - <span id="card_student_name"><%= data[0].student_name%></span><br>
<div id="card_value">
    <% for(var i = 0; i < data.length  ; i++ ){ %>
    <div id="meta_div<%=i%>">
        <input id="meta_key<%=i%>" type="text" value="<%=data[i].meta_key%>" class="in"/>  <input id="meta_value<%=i%>" type="text" value="<%=data[i].meta_value%>" class="in"/>
        <input type="button" onclick="saveMeta(<%=i%>)" value="Сохранить">
    </div>
    <% } %>
</div><p/>
<input class="dob" type="button" value="Добавить поле" onclick="addStudentMeta()">